## import

In [1]:
import torch
import torchvision
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import torch.nn as nn
import torch.nn.functional as F

from torch.utils.data.dataloader import DataLoader
from torch.utils.data import random_split
import pandas as pd
from torch.utils.data.sampler import SubsetRandomSampler
from torch.utils.data import Dataset
import torch
import torch.nn as nn
import numpy as np
from torch.optim import optimizer
from sklearn import datasets
import matplotlib.pyplot as plt

## read csv and input normalization

In [2]:
df = pd.read_csv("/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1/training_data.csv")

In [3]:
#df

In [4]:
df['AMB_TEMP'].mean()

25.256894353369763

In [5]:
AMB_TEMP_mean = df['AMB_TEMP'].mean()
CH4_mean = df['CH4'].mean()
CO_mean = df['CO'].mean()
NMHC_mean = df['NMHC'].mean()
NO_mean = df['NO'].mean()
NO2_mean = df['NO2'].mean()
NOx_mean = df['NOx'].mean()
PM10_mean = df['PM10'].mean()
RH_mean = df['RH'].mean()
SO2_mean = df['SO2'].mean()
PM2_5_mean = df['PM2.5'].mean()

# std
AMB_TEMP_std = df['AMB_TEMP'].std()
CH4_std = df['CH4'].std()
CO_std = df['CO'].std()
NMHC_std = df['NMHC'].std()
NO_std = df['NO'].std()
NO2_std = df['NO2'].std()
NOx_std = df['NOx'].std()
PM10_std = df['PM10'].std()
RH_std = df['RH'].std()
SO2_std = df['SO2'].std()
PM2_5_std = df['PM2.5'].std()

In [6]:
df['AMB_TEMP'] = (df['AMB_TEMP'] -AMB_TEMP_mean)/AMB_TEMP_std
df['CH4'] = (df['CH4'] -CH4_mean)/CH4_std
df['CO'] = (df['CO'] -CO_mean)/CO_std
df['NMHC'] = (df['NMHC'] -NMHC_mean)/NMHC_std
df['NO'] = (df['NO'] -NO_mean)/NO_std
df['NO2'] = (df['NO2'] -NO2_mean)/NO2_std
df['NOx'] = (df['NOx'] -NOx_mean)/NOx_std
df['PM10'] = (df['PM10'] -PM10_mean)/PM10_std
df['RH'] = (df['RH'] -RH_mean)/RH_std
df['SO2'] = (df['SO2'] -SO2_mean)/SO2_std
df['PM2.5'] = (df['PM2.5'] -PM2_5_mean)/PM2_5_std

In [7]:
target = df['PM2.5']

In [8]:
target = torch.tensor(target.to_numpy().astype(np.float32))
target = target.view(target.shape[0], 1)

In [9]:
#target

In [10]:
df=df.drop(columns=['PM2.5'])

In [11]:
#df

In [12]:
feature = torch.from_numpy(df.to_numpy().astype(np.float32))

In [13]:
#feature

In [14]:
df1 = pd.read_csv("/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1/testing_data.csv")

In [15]:
#df1

In [16]:
df1['AMB_TEMP'] = (df1['AMB_TEMP'] -AMB_TEMP_mean)/AMB_TEMP_std
df1['CH4'] = (df1['CH4'] -CH4_mean)/CH4_std
df1['CO'] = (df1['CO'] -CO_mean)/CO_std
df1['NMHC'] = (df1['NMHC'] -NMHC_mean)/NMHC_std
df1['NO'] = (df1['NO'] -NO_mean)/NO_std
df1['NO2'] = (df1['NO2'] -NO2_mean)/NO2_std
df1['NOx'] = (df1['NOx'] -NOx_mean)/NOx_std
df1['PM10'] = (df1['PM10'] -PM10_mean)/PM10_std
df1['RH'] = (df1['RH'] -RH_mean)/RH_std
df1['SO2'] = (df1['SO2'] -SO2_mean)/SO2_std

In [17]:
#df1

In [18]:
testing = torch.from_numpy(df1.to_numpy().astype(np.float32))

In [19]:
#testing

## Model

In [20]:
n_samples, n_features = feature.shape

# 1) model
class LinearRegression(nn.Module):
    
    def __init__(self, input_dim, hidden_size1, hidden_size2, hidden_size3, hidden_size4, hidden_size5, hidden_size6,output_dim):
        #
        super(LinearRegression, self).__init__()
        
        # define layers
        self.linear1 = nn.Linear(input_dim, hidden_size1)
        self.linear2 = nn.Linear(hidden_size1, hidden_size2)
        self.linear3 = nn.Linear(hidden_size2, hidden_size3)
        self.linear4 = nn.Linear(hidden_size3, hidden_size4)
        self.linear5 = nn.Linear(hidden_size4, hidden_size5)
        self.linear6 = nn.Linear(hidden_size5, hidden_size6)
        self.linear7 = nn.Linear(hidden_size6, output_dim)

    def forward(self, x):
        out = self.linear1(x)
        out = F.relu(out)

        out = self.linear2(out)
        out = F.relu(out)

        out = self.linear3(out)
        out = F.relu(out)

        out = self.linear4(out)
        out = F.relu(out)

        out = self.linear5(out)
        out = F.relu(out)

        out = self.linear6(out)
        out = F.relu(out)

        out = self.linear7(out)

        return out

## loss and optimizer

In [21]:
model = LinearRegression(n_features, 64, 64, 64 ,64, 64, 64, 1)

# 2) loss and optimizer
learning_rate = 0.005
criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

## training and mini batch

In [22]:
# 3) training loop
epochs = 100
batch_size = 24
history = []
for epoch in range(epochs):
  for i in range(int(len(feature)/batch_size)):
      # forward pass and loss
      y_predicted = model(feature[24*i:24*(i+1)])
      loss = criterion(y_predicted, target[24*i:24*(i+1)])

      # backward pass
      loss.backward()

      # update
      optimizer.step()
      
      # init optimizer
      optimizer.zero_grad()

  if (epoch + 1) % 10 == 0:
        print(f'epoch: {epoch+1}, loss = {loss.item(): .4f}')

# show in image
predicted = model(feature).detach().numpy()
plt.show()

epoch: 10, loss =  0.4105
epoch: 20, loss =  0.3964
epoch: 30, loss =  0.3066
epoch: 40, loss =  0.2614
epoch: 50, loss =  0.2441
epoch: 60, loss =  0.2419
epoch: 70, loss =  0.2471
epoch: 80, loss =  0.2460
epoch: 90, loss =  0.2403
epoch: 100, loss =  0.2329

## save model

In [39]:
FILE = 'hw1_2.pt'

In [40]:
torch.save(model, FILE)

## testing

In [25]:
ans = torch.empty(len(testing))
for i in range(len(testing)):
  yb = model(testing[i])
  # print(i,yb)
  yb = yb*PM2_5_std +PM2_5_mean
  # print(i,yb)
  ans[i] = yb
  # print(ans)
  # print("-------------------")

In [26]:
ans

tensor([38.3823, 44.8486, 41.5342,  ..., 79.1463, 69.0482, 60.5117],
       grad_fn=<CopySlices>)

## output to csv

In [27]:
import pandas as pd
import os.path
ans_np = ans.detach().numpy() #convert to Numpy array
df = pd.DataFrame(ans_np) #convert to a dataframe

In [28]:
df

               0
0      38.382313
1      44.848629
2      41.534180
3      41.262936
4      26.242069
...          ...
8755  125.441010
8756  101.070251
8757   79.146294
8758   69.048218
8759   60.511688

[8760 rows x 1 columns]

In [29]:
df.rename(columns = {0:'PM2.5'}, inplace = True)
df.to_csv(os.path.join('/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1','ans')) #save to file
#df.rename(columns = {:'INDEX'}, inplace = True)

In [30]:
df3 = pd.read_csv('/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1/ans')

In [31]:
df3

      Unnamed: 0       PM2.5
0              0   38.382313
1              1   44.848630
2              2   41.534180
3              3   41.262936
4              4   26.242070
...          ...         ...
8755        8755  125.441010
8756        8756  101.070250
8757        8757   79.146290
8758        8758   69.048220
8759        8759   60.511690

[8760 rows x 2 columns]

In [32]:
df3.rename(columns = {'Unnamed: 0':'INDEX'}, inplace = True)

In [33]:
df3['INDEX'] = df3['INDEX']+1

In [51]:
df3

      INDEX       PM2.5
0         1   34.483185
1         2   41.091053
2         3   39.481915
3         4   37.335037
4         5   23.296951
...     ...         ...
8755   8756  116.732610
8756   8757   98.204190
8757   8758   85.338400
8758   8759   73.706696
8759   8760   62.284637

[8760 rows x 2 columns]

In [34]:
df3.to_csv(os.path.join('/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1','ans'),index=False) #save to file

In [35]:
df4 = pd.read_csv('/content/drive/MyDrive/code/python/projects/ADL/ADL_(IM5062)/111ntu-homework1/ans')

In [36]:
df4

      INDEX       PM2.5
0         1   38.382313
1         2   44.848630
2         3   41.534180
3         4   41.262936
4         5   26.242070
...     ...         ...
8755   8756  125.441010
8756   8757  101.070250
8757   8758   79.146290
8758   8759   69.048220
8759   8760   60.511690

[8760 rows x 2 columns]

In [37]:
#model = torch.load(FILE)

In [38]:
# model.eval()

# print('whole model load')
# for parm in model.parameters():
#     print(parm)